
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: var(--color-primary);
  color: var(--color-bg);
  max-block-size: 80px;
  nav {
    display: flex;
    gap: 20px;
    margin-left: auto;

    a {
      color: var(--color-bg);
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;
      border: var(--color-bg) solid 1px;
      border-radius: 5px;
      padding-inline: 10px;
      padding-block: 5px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        background: var(--color-primary-light);
        color: var(--color-primary);
      }
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-accent);
  }
}


/* Apply the animation to the slotted .h-logo */
::slotted(.h-logo) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0;
  flex-shrink: 0;
  transform-origin: center center;
  animation: rotate-clockwise 6s linear infinite;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 2px 6px rgba(0, 0, 0, 0.5);
  background: radial-gradient(circle, var(--color-accent), #daa520);
}


/* Styles for the Font Awesome icon inside the h-logo */
::slotted(.h-logo i) {
  font-size: 2rem;
  color: var(--color-bg);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for h-logo when it has an image */
::slotted(.h-logo.has-image) {
  background: none;
  box-shadow: none;
  transform-origin: center center;
  animation: rotate-clockwise 6s linear infinite;
}

::slotted(.h-logo.has-image img) {
  display: block;
}