@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


:root {
  --color-primary: #6ac4ba;
  --color-primary-dark: #6f6f6f;
  --color-primary-light: #e2e2e2;
  --color-accent: #aeaeae;
  --color-accent-dark: #515151;
  --color-accent-light: #fef3c7;
  --color-bg: #ffffff;
  --color-surface: #f8fafc;
  --color-text: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-muted: #94a3b8;
  --color-border: #e2e8f0;
  --color-border-light: #f1f5f9;
  --color-error: #ef4444;
  --font-family-base: 'Inter', Arial, Helvetica, sans-serif;
}